<html lang="en">

<body bgcolor=#a3cfb4>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <center>
        <h1>  Top {{numm}} Movies are as follows:  </h1>
    </center>
    <body>
        <center>
        
        {% for table in tables %}
                    {{ table|safe }}
        {% endfor %}
    </center>
    </body>
</body>

</html>